name: CI/CD - Build and Deploy

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env: 
  IMAGE_NAME: alan2442/projeto4:v1

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout codigo
        uses: actions/checkout@v4

      - name: Login no Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build da imagem
        run: docker build -t $IMAGE_NAME .

      - name: Push da imagem para Docker Hub
        run: docker push $IMAGE_NAME
